---
---
@import  "{{ site.theme }}";

.inner {
    max-width: 960px;
    padding: 0px 10px 30px 10px !important;
}

#main_content {
  background: #F8F8F8 !important;
  padding: 10px 10px 30px 10px !important;
}

h1#header-1 {
  border-bottom: 1px #AAAAAA solid;
}

h2#header-2 {
  padding: 0;
  border-bottom: 1px #AAAAAA dashed;
  background: none;
}

pre {
  box-shadow: none;
  border-radius: 8px;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
}

pre.highlight {
  background: #373737;
  padding: 10 10px;
  margin: 0 -10px;
  border-radius: 0;
}

pre.highlight > code {
  background: #373737;
  color: #FFFFFF;
}

code {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

/* Navigation */
nav {
  list-style: none;
  font-size: 0;
  text-align: right;
}

nav ul {
  text-align: right;
}

nav li {
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #49483e;
  display: inline-block;
  font: 16px bold;
  line-height: 40px;
  margin: 0 1px;
  border-radius: 0 0 5px 5px;
}
 
nav li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

// alart box
div.alert {
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0;
}

div.alert.success {
  background-color: #dff0d8;
  color: #3c763d;
}

div.alert.info {
  background-color: #d9edf7;
  color: #31708f;
}

div.alert.warn {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

div.alert.danger {
  background-color: #f2dede;
  color: #a94442;
}


// rougify style monokai.sublime //
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .gh {
  color: #999999;
}
.highlight .sr {
  color: #f6aa11;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #75715e;
}
.highlight .err {
  color: #960050;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gd {
  color: #49483e;
}
.highlight .gi {
  color: #49483e;
}
.highlight .ge {
  color: #49483e;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .kt {
  color: #66d9ef;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}
.highlight .sc {
  color: #ae81ff;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .ss {
  color: #ae81ff;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf, .highlight .fm {
  color: #a6e22e;
}
.highlight .vc {
  color: #ffffff;
  background-color: #272822;
}
.highlight .nn {
  color: #ffffff;
  background-color: #272822;
}
.highlight .nl {
  color: #ffffff;
  background-color: #272822;
}
.highlight .ni {
  color: #ffffff;
  background-color: #272822;
}
.highlight .bp {
  color: #ffffff;
  background-color: #272822;
}
.highlight .vg {
  color: #ffffff;
  background-color: #272822;
}
.highlight .vi {
  color: #ffffff;
  background-color: #272822;
}
.highlight .nv, .highlight .vm {
  color: #ffffff;
  background-color: #272822;
}
.highlight .w {
  color: #ffffff;
  background-color: #272822;
}
.highlight {
  color: #ffffff;
  background-color: #272822;
}
.highlight .n, .highlight .py, .highlight .nx {
  color: #ffffff;
  background-color: #272822;
}
.highlight .ow {
  color: #f92672;
}
.highlight .nt {
  color: #f92672;
}
.highlight .k, .highlight .kv {
  color: #f92672;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp {
  color: #f92672;
}
.highlight .o {
  color: #f92672;
}
